<p id="notice"><%= notice %></p>

<h1>Listing Contacts</h1>
<table id="contacts">
  <thead>
    <tr>
      <th>Username</th>
      <th>Gender</th>
      <th>Email</th>
      <th>Tel</th>
      <th>Address</th>
      <th>Citycode</th>
      <th>Subscribe</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= contact.username %></td>
        <td><%= contact.gender %></td>
        <td><%= contact.email %></td>
        <td><%= contact.tel %></td>
        <td><%= contact.address %></td>
        <td><%= contact.citycode %></td>
        <td><%= contact.subscribe %></td>
        <td><%= link_to 'Show', contact %></td>
        <td><%= link_to 'Edit', edit_contact_path(contact) %></td>
        <td><%= link_to 'Destroy', contact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contact', new_contact_path %>
<%  if current_user.admin %>
<%= link_to 'Newsletter', sendnewsletter_path(), remote: true %>
<%end%>
