<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @contact.username %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @contact.gender %>
</p>

<p>
  <strong>Email:</strong>
  <%= @contact.email %>
</p>

<p>
  <strong>Tel:</strong>
  <%= @contact.tel %>
</p>

<p>
  <strong>Address:</strong>
  <%= @contact.address %>
</p>

<p>
  <strong>Citycode:</strong>
  <%= @contact.citycode %>
</p>

<p>
  <strong>Subscribe:</strong>
  <%= @contact.subscribe %>
</p>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
