<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @brand.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @brand.address %>
</p>

<p>
  <strong>Place:</strong>
  <%= @brand.place %>
</p>

<p>
  <strong>Logo:</strong>
  <%= @brand.logo %>
</p>

<%= link_to 'Edit', edit_brand_path(@brand) %> |
<%= link_to 'Back', brands_path %>
